#box1{
    background-color: rgb(82, 173, 158);
    width: 33.33%;
    height: 50px;
    float: left;
}
#box2{
    background-color: rgb(111, 208, 211);
    width: 33.33%;
    height: 50px;
    float: left;
}
#box3{
    background-color: rgb(127, 199, 98);
    width: 33.33%;
    height: 50px;
    float: left;
}